body{
  background-color: white;
}
.buitenste_kader{
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  /*margin-top: 300 px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  position: relative;
  top: 200px;
  left: 100px;
}
.tekst{
  text-align: center;
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
  /*margin-left: 150 px;*/
  font-size: 200%;
  font-family: Arial;
  color: white;

}
.back_button{
  font-family: Arial;
  text-align: center;
  width: 300px;
  height: 200px;
  position: relative;
  top: 400px;
  left: 200px;
  /*background-color: gray;*/
  background-image: url(home.png);
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
  background-size: contain;
}

/* The animation code */
@keyframes example {
 from {background-color: grey;}
 to {background-color: black;}
}

/* The element to apply the animation to */
div.buitenste_kader {
 width: 200px;
 height: 300px;
 background-color: grey;
 animation-name: example;
 animation-duration: 4s;
}
